/.pytest_cache
/.venv
/.vscode
tweets.csv
saves.json
teste.json
tuites.josn
tuites.json
feed/__pycache__/
tests/__pycache__/
feed/static/imgs/nevoa.jpeg
feed/conf.py
poetry.lock
teste.html
feed/conf.py
