<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html {
            max-width: 38rem;
            padding: 2rem;
            margin: auto;
            line-height: 1.5rem;
            font-size: 20px;
            font-family: system-ui, monospace, sans-serif;
        }
    </style>
    <title>feed</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<header></header>
<main>
    {% block main %}

    {% endblock %}
</main>
<footer></footer>

</html>