{% extends 'base.html' %}
{% block main %}
<div id="app">
    {% for save in saves %}
    <hr>
    <h3><a href="https://twitter.com/{{save.includes.users[0].username}}/status/{{save.id}}">
            {{save.includes.users[0].username}}</a></h3>
    <img src="{{save.img}}" alt="" srcset="">
    <div>{{save.text|urlize}}</div>
    <div style="width: 50%;">{{save.html_content|safe}}</div>
    <br>
    <div>
        {% if save.get('last_link',False) %}</li>
        <preview :id="'{{save.id}}'"></preview>
        
        {%endif%}
        <!-- <p>@{preview}</p> -->
    </div>

    <!-- {{save.last_link}} -->
    {% endfor %}
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/x-template" id='preview'>
    *<img :src="image" alt="" srcset="" width="450" >
    <p>@{description}</p>
    <p>@{title}</p>
</script>
<script>
    const App = {
        data() {
            return {}
        },
    }
    const app = Vue.createApp(App)
    app.config.compilerOptions.delimiters = ['@{', '}']

    app.component('preview', {
        props: ['id'],
        data() {
            return {
                description: "",
                title: "",
                image: "",
            }
        },
        created() {
            this.get_preview(this.id)
        },
        methods: {
            get_preview(id) {
                axios.get("{{url_for('preview')}}?id="+id)
                    .then(response => {
                        // handle success
                        // this.requested = true
                        this.description = response.data.description
                        this.title = response.data.title
                        this.image = response.data.image
                    })
                    .catch(function (error) {
                        // handle error
                        // console.log(error);
                        this.description = 'falhou'
                        this.title = 'falhou'
                        this.image = 'falhou'
                    })
                    .then(function () {
                        // always executed
                    });
            },
            fake(){
                debugger
                this.description = "faked"
                this.title = "faked"
                this.image = "faked"
            }
        },
        template: '#preview'
    })

    app.mount('#app')
</script>
{% endblock %}